<a href="https://colab.research.google.com/github/mgfrantz/CalTech-CTME-AramCo-2025/blob/main/notebooks/02_fine_tune_lora.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part 1: Dataset Preparation

Previously, we created a dataset of question/sql query pairs and validated them against actual SQLite databases.
Now that we have this data, our goal is to fine-tune a model to accept a sql schema and a quesiton and output a sqlite query.

The first step in this process is preparing our dataset.
While there are many [dataset formats](https://docs.axolotl.ai/docs/dataset-formats/), it's important to use the **same dataset format your base model was trained on.**
So for example if you have a chat model, you should make sure your dataset is formatted for chat.
This ensures you're not learning a new dataset format along with your task.
A good way to do that is to look at the axolotl [examples](https://github.com/axolotl-ai-cloud/axolotl/tree/main/examples) - there are samples for most any model family you'd want to fine tune with sensible defaults.

In our case, we will output a `.jsonl` file where each line contains the folowing information:

```json
{
    "conversations": [
        {
            "role": <system, user, assistant>,
            "content": "some content"
        },
        ...
    ]
}
```

We will follow this general format:

- Message 1: our system prompt with general instructions
- Message 2: our user message with database schema and user query
- Message 3: our validated sql output (what we want to tune the model to output)

This format is useful for almost any chat model, even proprietary for use in proprietarty fine-tuning ([openai docs](https://platform.openai.com/docs/guides/supervised-fine-tuning?formatting=jsonl)).
This means you can prepare your data once, and fine-tune and compare many different models.

Let's start by loading and observing our dataset.

In [ ]:
import json

import duckdb
import pandas as pd
from IPython.display import display
from tqdm.auto import tqdm

In [ ]:
# If running this on colab, make sure to upload the parquet file and update the path.
df = pd.read_parquet("../output/validated_dataset.parquet")

In [ ]:
df.head()

,db_path,question,query,answer,is_valid,error
0,/Users/michaelfrantz/dev/CalTech-CTME-AramCo-2...,How many orders were placed in the most recent...,SELECT COUNT(*) FROM orders WHERE order_date >...,[[20]],True,None
1,/Users/michaelfrantz/dev/CalTech-CTME-AramCo-2...,What is the total amount spent by customers in...,SELECT SUM(total_amount) FROM orders WHERE ord...,[[875.9686307710034]],True,None
2,/Users/michaelfrantz/dev/CalTech-CTME-AramCo-2...,Who are the top 5 customers by the number of o...,"SELECT c.first_name, c.last_name, COUNT(o.id) ...","[[""Michael"", ""Brown"", 3], [""Timothy"", ""Wilson""...",True,None
3,/Users/michaelfrantz/dev/CalTech-CTME-AramCo-2...,Which restaurant received the highest number o...,"SELECT r.name, COUNT(o.id) as order_count FROM...","[[""Baker-Martin"", 2]]",True,None
4,/Users/michaelfrantz/dev/CalTech-CTME-AramCo-2...,What is the average order amount for completed...,SELECT AVG(total_amount) FROM orders WHERE sta...,[[51.165547081963425]],True,None

Now, let's create some utilities to get the schema of the database as a string so we can pass it to the model.

In [ ]:
# Utilities
duckdb.execute("""
INSTALL sqlite;
LOAD sqlite;
""")

def query_sqlite(query:str, db_path:str) -> pd.DataFrame:
    conn = duckdb.connect(db_path)
    return conn.execute(query).fetch_df()

In [ ]:
path = df.db_path.iloc[0]
print(path)

/Users/michaelfrantz/dev/CalTech-CTME-AramCo-2025/output/db/database_0.db

In [ ]:
tables = query_sqlite('SHOW TABLES', path)
tables

          name
0    customers
1      drivers
2       orders
3  restaurants

In [ ]:
for table in tables.name:
    print(table)
    display(t:=query_sqlite(f'DESCRIBE TABLE {table}', path).dropna(how='all', axis=1))

customers

    column_name column_type null   key
0            id      BIGINT   NO   PRI
1    first_name     VARCHAR   NO  None
2     last_name     VARCHAR   NO  None
3         email     VARCHAR   NO  None
4  phone_number     VARCHAR   NO  None

drivers

      column_name column_type null   key
0              id      BIGINT   NO   PRI
1      first_name     VARCHAR   NO  None
2       last_name     VARCHAR   NO  None
3    phone_number     VARCHAR   NO  None
4  license_number     VARCHAR   NO  None

orders

     column_name column_type null   key
0             id      BIGINT   NO   PRI
1    customer_id      BIGINT   NO  None
2  restaurant_id      BIGINT   NO  None
3     order_date   TIMESTAMP   NO  None
4   total_amount      DOUBLE   NO  None
5         status     VARCHAR   NO  None

restaurants

    column_name column_type null   key
0            id      BIGINT   NO   PRI
1          name     VARCHAR   NO  None
2       address     VARCHAR   NO  None
3  phone_number     VARCHAR   NO  None

In [ ]:
def table_metadata(db_path:str) -> dict[str, pd.DataFrame]:
    """
    Get metadata for all tables in the database.
    """
    tables = query_sqlite('SHOW TABLES', db_path)
    metadata = {}
    for table in tables.name:
        metadata[table] = query_sqlite(f'DESCRIBE TABLE {table}', db_path).dropna(how='all', axis=1)
    return metadata

In [ ]:
def format_schema_for_chat(metadata: dict[str, pd.DataFrame]) -> str:
    """
    Format table metadata into a readable string for chat training.
    """
    schema_lines = []

    for table_name, df in metadata.items():
        schema_lines.append(f"Table: {table_name}")

        for _, row in df.iterrows():
            col_info = f"  - {row['column_name']} ({row['column_type']}"
            if row['key'] == 'PRI':
                col_info += ", PRIMARY KEY"
            elif pd.notna(row['key']) and row['key'] != 'None':
                col_info += f", {row['key']}"
            if row['null'] == 'NO':
                col_info += ", NOT NULL"
            col_info += ")"
            schema_lines.append(col_info)

        schema_lines.append("")  # Add blank line between tables

    return "\n".join(schema_lines).strip()

def create_chatml_dataset(df: pd.DataFrame) -> list[dict]:
    """
    Create ChatML conversations format dataset directly from DataFrame.
    Includes system prompt with SQLite constraints.
    """
    # SQLite-focused system prompt based on constraints from prompts.py
    system_prompt = """You are an expert SQL developer specializing in SQLite. Generate accurate SQL queries that follow these requirements:

SQLITE REQUIREMENTS:
1. Use only standard SQLite-compatible SQL syntax
2. Avoid PostgreSQL-specific functions like INTERVAL - use date arithmetic instead
3. Use SQLite date functions: date(), datetime(), julianday() for date calculations
4. For "recent month" use: WHERE date_column >= date((SELECT MAX(date_column) FROM table_name), '-1 month')
5. For "past 30 days" use: WHERE date_column >= date((SELECT MAX(date_column) FROM table_name), '-30 days')
6. For rolling averages, use window functions or subqueries
7. Use MAX(appropriate_date_column) to find the most recent date
8. Use proper SQLite column types: INTEGER, TEXT, REAL, BLOB
9. Handle foreign key relationships correctly with proper JOIN syntax

QUERY STANDARDS:
- Write clear, efficient queries
- Use appropriate aggregation functions (COUNT, SUM, AVG, MAX, MIN)
- Include proper GROUP BY and ORDER BY clauses when needed
- Use table aliases for readability in complex queries"""

    chatml_data = []

    for idx, row in tqdm(df.iterrows(), total=len(df), desc="Creating ChatML dataset"):
        # Skip invalid entries
        if not row['is_valid']:
            continue

        # Get table metadata for this database
        metadata = table_metadata(row['db_path'])
        schema_text = format_schema_for_chat(metadata)

        # Create user message with schema and question
        user_content = f"Database Schema:\n{schema_text}\n\nQuestion: {row['question']}"

        # Create ChatML conversation with system prompt
        chatml_entry = {
            "conversations": [
                {
                    "role": "system",
                    "content": system_prompt
                },
                {
                    "role": "user",
                    "content": user_content
                },
                {
                    "role": "assistant",
                    "content": row['query']
                }
            ]
        }

        chatml_data.append(chatml_entry)

    return chatml_data

Now that we've created our utilities, let's complete our chatml dataset.

In [ ]:
# Create the ChatML format dataset for Axolotl
print("Creating ChatML format dataset for Axolotl...")
chatml_dataset = create_chatml_dataset(df)

print(f"Created {len(chatml_dataset)} ChatML training examples")

# Save to JSONL file for Axolotl
chatml_output_file = "chatml_training_data.jsonl"
with open(chatml_output_file, 'w') as f:
    for entry in chatml_dataset:
        f.write(json.dumps(entry) + '\n')

print(f"Saved ChatML training data to {chatml_output_file}")

# Display a sample ChatML entry
print("\nSample ChatML training entry:")
print(json.dumps(chatml_dataset[0], indent=2))

Creating ChatML format dataset for Axolotl...

Creating ChatML dataset:   0%|          | 0/151 [00:00<?, ?it/s]

Created 150 ChatML training examples
Saved ChatML training data to chatml_training_data.jsonl

Sample ChatML training entry:
{
  "conversations": [
    {
      "role": "system",
      "content": "You are an expert SQL developer specializing in SQLite. Generate accurate SQL queries that follow these requirements:\n\nSQLITE REQUIREMENTS:\n1. Use only standard SQLite-compatible SQL syntax\n2. Avoid PostgreSQL-specific functions like INTERVAL - use date arithmetic instead\n3. Use SQLite date functions: date(), datetime(), julianday() for date calculations\n4. For \"recent month\" use: WHERE date_column >= date((SELECT MAX(date_column) FROM table_name), '-1 month')\n5. For \"past 30 days\" use: WHERE date_column >= date((SELECT MAX(date_column) FROM table_name), '-30 days')\n6. For rolling averages, use window functions or subqueries\n7. Use MAX(appropriate_date_column) to find the most recent date\n8. Use proper SQLite column types: INTEGER, TEXT, REAL, BLOB\n9. Handle foreign key relationships correctly with proper JOIN syntax\n\nQUERY STANDARDS:\n- Write clear, efficient queries\n- Use appropriate aggregation functions (COUNT, SUM, AVG, MAX, MIN)\n- Include proper GROUP BY and ORDER BY clauses when needed\n- Use table aliases for readability in complex queries"
    },
    {
      "role": "user",
      "content": "Database Schema:\nTable: customers\n  - id (BIGINT, PRIMARY KEY, NOT NULL)\n  - first_name (VARCHAR, NOT NULL)\n  - last_name (VARCHAR, NOT NULL)\n  - email (VARCHAR, NOT NULL)\n  - phone_number (VARCHAR, NOT NULL)\n\nTable: drivers\n  - id (BIGINT, PRIMARY KEY, NOT NULL)\n  - first_name (VARCHAR, NOT NULL)\n  - last_name (VARCHAR, NOT NULL)\n  - phone_number (VARCHAR, NOT NULL)\n  - license_number (VARCHAR, NOT NULL)\n\nTable: orders\n  - id (BIGINT, PRIMARY KEY, NOT NULL)\n  - customer_id (BIGINT, NOT NULL)\n  - restaurant_id (BIGINT, NOT NULL)\n  - order_date (TIMESTAMP, NOT NULL)\n  - total_amount (DOUBLE, NOT NULL)\n  - status (VARCHAR, NOT NULL)\n\nTable: restaurants\n  - id (BIGINT, PRIMARY KEY, NOT NULL)\n  - name (VARCHAR, NOT NULL)\n  - address (VARCHAR, NOT NULL)\n  - phone_number (VARCHAR, NOT NULL)\n\nQuestion: How many orders were placed in the most recent month?"
    },
    {
      "role": "assistant",
      "content": "SELECT COUNT(*) FROM orders WHERE order_date >= date((SELECT MAX(order_date) FROM orders), '-1 month')"
    }
  ]
}

In [1]:
# Note: must be connected to at least an L4 gpu (colab or other) to use flash-attn
!uv pip install -Uqqq packaging setuptools wheel ninja
!uv pip install -qqq --no-build-isolation "axolotl[flash-attn,deepspeed]"
# !uv pip install -qqq "cut-cross-entropy[transformers] @ git+https://github.com/apple/ml-cross-entropy.git@bad6f7b49c75fdec69471abb71b4cddd0f0c6438"
# !uv pip install -qqq "git+https://github.com/linkedin/Liger-Kernel.git"

In [2]:
import os
from google.colab import userdata
os.environ['HF_TOKEN'] = userdata.get('HF_TOKEN')

In [7]:
%%writefile axolotl.yaml
base_model: meta-llama/Llama-3.2-3B

load_in_8bit: true
load_in_4bit: false
strict: false
adapter: lora
# Added for bitsandbytes configuration
# bnb_4bit_use_double_quant: true


# Data config
chat_template: llama3
datasets:
  - path: chatml_training_data.jsonl
    type: chat_template
    field_messages: conversations
dataset_prepared_path: last_run_prepared
val_set_size: 0.1
output_dir: ./outputs/lora-out

sequence_len: 2048
sample_packing: true
eval_sample_packing: false # with a larger eval dataset, we would do this, but we don't have a large enough one today.
pad_to_sequence_len: true

lora_r: 32
lora_alpha: 16
lora_dropout: 0.05
lora_target_linear: true
lora_fan_in_fan_out:
lora_target_modules:
  - gate_proj
  - down_proj
  - up_proj
  - q_proj
  - v_proj
  - k_proj
  - o_proj

wandb_project:
wandb_entity:
wandb_watch:
wandb_name:
wandb_log_model:

gradient_accumulation_steps: 4
micro_batch_size: 2
num_epochs: 1
optimizer: adamw_bnb_8bit
lr_scheduler: cosine
learning_rate: 0.0002

train_on_inputs: false
group_by_length: false
bf16: auto
fp16:
tf32: false

gradient_checkpointing: true
early_stopping_patience:
resume_from_checkpoint:
local_rank:
logging_steps: 1
xformers_attention:
flash_attention: true

loss_watchdog_threshold: 5.0
loss_watchdog_patience: 3

warmup_steps: 10
evals_per_epoch: 4
eval_table_size:
eval_max_new_tokens: 128
saves_per_epoch: 1
debug:
deepspeed:
weight_decay: 0.0
fsdp:
fsdp_config:
special_tokens:
  pad_token: <|finetune_right_pad_id|>
  eos_token: <|eot_id|>

# Added for saving best checkpoint and pushing to Hugging Face Hub
save_only_k_checkpoints: 1
save_total_limit: 1
load_best_model_at_end: true
metric_for_best_model: eval_loss # Or any other metric you want to track
greater_is_better: false # True if the metric should be maximized, False if minimized

# Push to Hugging Face Hub
# push_to_hub: false
# hub_model_id: your_huggingface_username/your_model_name # Replace with your desired repo ID
# hub_private_repo: false # Set to true if you want a private repo
# hub_always_push: false
# hub_strategy: every_save # "end" to push only at the end of training

Overwriting axolotl.yaml

In [8]:
!axolotl train axolotl.yaml

2025-06-25 18:57:17.341228: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-06-25 18:57:17.358318: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1750877837.380312    2302 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1750877837.387172    2302 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-06-25 18:57:17.408995: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
The following values were not passed to `accelerate launch` and had defaults used instead:
	`--num_processes` was set to a value of `1`
	`--num_machines` was set to a value of `1`
	`--mixed_precision` was set to a value of `'no'`
	`--dynamo_backend` was set to a value of `'no'`
To avoid this warning pass in values for each of the problematic parameters or run `accelerate config`.
2025-06-25 18:57:33.480470: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1750877853.502270    2464 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1750877853.508920    2464 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
[2025-06-25 18:57:37,962] [INFO] [axolotl.utils.schemas.config.check_eval_packing:756] [PID:2464] [RANK:0] setting `remove_unused_columns: false` for when sample_packing and eval_sample_packing don't match
config.json: 100% 844/844 [00:00<00:00, 4.71MB/s]
[2025-06-25 18:57:38,630] [INFO] [axolotl.utils.config.log_gpu_memory_usage:107] [PID:2464] [RANK:0] cuda memory usage baseline: 0.000GB (+0.336GB misc)

     #@@ #@@      @@# @@#
    @@  @@          @@  @@           =@@#                               @@                 #@    =@@#.
    @@    #@@@@@@@@@    @@           #@#@=                              @@                 #@     .=@@
      #@@@@@@@@@@@@@@@@@            =@# @#     ##=     ##    =####=+    @@      =#####+  =#@@###.   @@
    @@@@@@@@@@/  +@@/  +@@          #@  =@=     #@=   @@   =@#+  +#@#   @@    =@#+  +#@#   #@.      @@
    @@@@@@@@@@  ##@@  ##@@         =@#   @#      =@# @#    @@      @@   @@    @@      #@   #@       @@
     @@@@@@@@@@@@@@@@@@@@          #@=+++#@=      =@@#     @@      @@   @@    @@      #@   #@       @@
                                  =@#=====@@     =@# @#    @@      @@   @@    @@      #@   #@       @@
    @@@@@@@@@@@@@@@@  @@@@        #@      #@=   #@=  +@@   #@#    =@#   @@.   =@#    =@#   #@.      @@
                                 =@#       @#  #@=     #@   =#@@@@#=    +#@@=  +#@@@@#=    .##@@+   @@
    @@@@  @@@@@@@@@@@@@@@@

tokenizer_config.json: 100% 50.5k/50.5k [00:00<00:00, 51.0MB/s]
tokenizer.json: 100% 9.09M/9.09M [00:01<00:00, 5.70MB/s]
special_tokens_map.json: 100% 301/301 [00:00<00:00, 2.33MB/s]
[2025-06-25 18:57:45,182] [INFO] [axolotl.utils.data.shared.load_preprocessed_dataset:467] [PID:2464] [RANK:0] Unable to find prepared dataset in last_run_prepared/3600aa57aa892c2b73d54a308e4236f2
[2025-06-25 18:57:45,182] [INFO] [axolotl.utils.data.sft._load_raw_datasets:310] [PID:2464] [RANK:0] Loading raw datasets...
[2025-06-25 18:57:45,182] [WARNING] [axolotl.utils.data.sft._load_raw_datasets:312] [PID:2464] [RANK:0] Processing datasets during training can lead to VRAM instability. Please pre-process your dataset using `axolotl preprocess path/to/config.yml`.
Generating train split: 150 examples [00:00, 7670.08 examples/s]
[2025-06-25 18:57:45,989] [INFO] [axolotl.utils.data.wrappers.get_dataset_wrapper:88] [PID:2464] [RANK:0] Loading dataset: chatml_training_data.jsonl with base_type: chat_template and prompt_style: None
[2025-06-25 18:57:46,024] [INFO] [axolotl.prompt_strategies.chat_template.__call__:941] [PID:2464] [RANK:0] Using chat template:
---
{% if not add_generation_prompt is defined %}{% set add_generation_prompt = false %}{% endif %}{% set loop_messages = messages %}{% for message in loop_messages %}{% set content = '<|start_header_id|>' + message['role'] + '<|end_header_id|>

'+ message['content'] | trim + '<|eot_id|>' %}{% if loop.index0 == 0 %}{% set content = bos_token + content %}{% endif %}{{ content }}{% endfor %}{% if add_generation_prompt %}{{ '<|start_header_id|>assistant<|end_header_id|>

' }}{% endif %}
---
Tokenizing Prompts (num_proc=12): 100% 150/150 [00:03<00:00, 42.27 examples/s]
[2025-06-25 18:57:50,044] [INFO] [axolotl.utils.data.utils.drop_long_seq_in_dataset:177] [PID:2464] [RANK:0] min_input_len: 465
[2025-06-25 18:57:50,044] [INFO] [axolotl.utils.data.utils.drop_long_seq_in_dataset:179] [PID:2464] [RANK:0] max_input_len: 633
Dropping Long Sequences (num_proc=12): 100% 150/150 [00:00<00:00, 923.38 examples/s]
Drop Samples with Zero Trainable Tokens (num_proc=12): 100% 150/150 [00:00<00:00, 802.65 examples/s]
Add position_id column (Sample Packing) (num_proc=12): 100% 150/150 [00:00<00:00, 772.52 examples/s]
Saving the dataset (1/1 shards): 100% 150/150 [00:00<00:00, 14649.35 examples/s]
2025-06-25 18:57:58.376903: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1750877878.397916    2874 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1750877878.404362    2874 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-06-25 18:58:11.124405: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1750877891.145897    2955 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1750877891.152526    2955 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-06-25 18:58:23.332435: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1750877903.353632    3035 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1750877903.360330    3035 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-06-25 18:58:35.563904: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1750877915.585089    3118 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1750877915.591524    3118 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-06-25 18:58:47.731717: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1750877927.752427    3196 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1750877927.758752    3196 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-06-25 18:58:59.902717: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1750877939.923473    3276 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1750877939.929829    3276 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-06-25 18:59:12.077464: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1750877952.098245    3356 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1750877952.104529    3356 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-06-25 18:59:24.343359: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1750877964.364895    3436 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1750877964.371328    3436 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-06-25 18:59:36.590818: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1750877976.611714    3515 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1750877976.618103    3515 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
[2025-06-25 18:59:43,610] [INFO] [axolotl.utils.samplers.multipack.calc_min_len:431] [PID:2464] [RANK:0] gather_len_batches: [19]
[2025-06-25 18:59:43,610] [INFO] [axolotl.utils.data.sft._prepare_standard_dataset:123] [PID:2464] [RANK:0] Maximum number of steps set at 4
model.safetensors.index.json: 100% 20.9k/20.9k [00:00<00:00, 75.1MB/s]
model-00001-of-00002.safetensors: 100% 4.97G/4.97G [00:28<00:00, 177MB/s]
model-00002-of-00002.safetensors: 100% 1.46G/1.46G [00:08<00:00, 173MB/s]
Loading checkpoint shards: 100% 2/2 [00:12<00:00,  6.32s/it]
generation_config.json: 100% 185/185 [00:00<00:00, 1.51MB/s]
[2025-06-25 19:00:38,793] [INFO] [axolotl.loaders.model.log_gpu_memory_usage:107] [PID:2464] [RANK:0] cuda memory usage after model load: 3.378GB (+0.102GB cache, +0.520GB misc)
[2025-06-25 19:00:38,835] [INFO] [axolotl.loaders.model._prepare_model_for_quantization:762] [PID:2464] [RANK:0] converting PEFT model w/ prepare_model_for_kbit_training
[2025-06-25 19:00:38,837] [INFO] [axolotl.loaders.model._configure_embedding_dtypes:308] [PID:2464] [RANK:0] Converting modules to torch.bfloat16
[2025-06-25 19:00:38,840] [INFO] [axolotl.loaders.adapter.load_lora:82] [PID:2464] [RANK:0] found linear modules: ['down_proj', 'gate_proj', 'k_proj', 'o_proj', 'q_proj', 'up_proj', 'v_proj']
trainable params: 48,627,712 || all params: 3,261,377,536 || trainable%: 1.4910
[2025-06-25 19:00:39,617] [INFO] [axolotl.loaders.model.log_gpu_memory_usage:107] [PID:2464] [RANK:0] cuda memory usage after adapters: 3.559GB (+1.607GB cache, +0.547GB misc)
No label_names provided for model class `PeftModelForCausalLM`. Since `PeftModel` hides base models input arguments, if label_names is not given, label_names can't be set automatically within `Trainer`. Note that empty label_names list will be used instead.
[2025-06-25 19:00:46,271] [INFO] [axolotl.train.save_initial_configs:403] [PID:2464] [RANK:0] Pre-saving adapter config to ./outputs/lora-out...
[2025-06-25 19:00:46,271] [INFO] [axolotl.train.save_initial_configs:407] [PID:2464] [RANK:0] Pre-saving tokenizer to ./outputs/lora-out...
[2025-06-25 19:00:46,487] [INFO] [axolotl.train.save_initial_configs:410] [PID:2464] [RANK:0] Pre-saving model config to ./outputs/lora-out...
[2025-06-25 19:00:46,490] [INFO] [axolotl.train.execute_training:225] [PID:2464] [RANK:0] Starting trainer...
2025-06-25 19:00:52.235412: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1750878052.256898    4058 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1750878052.263448    4058 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-06-25 19:01:04.676774: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1750878064.697286    4170 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1750878064.703614    4170 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-06-25 19:01:17.096657: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1750878077.117198    4256 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1750878077.123448    4256 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-06-25 19:01:29.561887: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1750878089.583299    4338 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1750878089.589795    4338 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-06-25 19:01:42.022713: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1750878102.043253    4419 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1750878102.049532    4419 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-06-25 19:01:54.424660: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1750878114.445104    4503 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1750878114.451302    4503 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-06-25 19:02:06.811545: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1750878126.832025    4585 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1750878126.838265    4585 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-06-25 19:02:19.183083: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1750878139.204806    4669 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1750878139.211466    4669 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-06-25 19:02:31.558041: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1750878151.579211    4749 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered

In [20]:
# [optional] merge weights
# !python -m axolotl.cli.merge_lora axolotl.yaml

In [9]:
!rm -r outputs/lora-out/checkpoint-*

In [10]:
# [optional] upload to hf hub
import os
username = 'mgfrantz'
repo_name = 'cmte-demo'
if not username or not repo_name:
    username = input("Username: ")
    repo_name = input("Repo name: ")
os.environ['HF_HUB_ENABLE_HF_TRANSFER'] = '1'
!huggingface-cli upload {username}/{repo_name} ./outputs/lora-out/ .

Start hashing 8 files.
Finished hashing 8 files.
  0% 0/2 [00:00<?, ?it/s]
adapter_model.safetensors:   0% 0.00/195M [00:00<?, ?B/s]
adapter_model.safetensors:   8% 16.0M/195M [00:00<00:08, 19.9MB/s]
adapter_model.safetensors:  16% 32.0M/195M [00:01<00:04, 34.9MB/s]
adapter_model.safetensors:  25% 48.0M/195M [00:01<00:03, 42.9MB/s]
adapter_model.safetensors:  33% 64.0M/195M [00:01<00:02, 59.5MB/s]
adapter_model.safetensors:  41% 80.0M/195M [00:01<00:01, 67.1MB/s]
adapter_model.safetensors:  58% 112M/195M [00:01<00:00, 108MB/s]
adapter_model.safetensors:  66% 128M/195M [00:02<00:00, 77.5MB/s]
adapter_model.safetensors:  74% 144M/195M [00:02<00:00, 84.1MB/s]
adapter_model.safetensors:  90% 176M/195M [00:02<00:00, 119MB/s]
adapter_model.safetensors:  99% 192M/195M [00:02<00:00, 62.9MB/s]
adapter_model.safetensors: 208MB [00:03, 63.2MB/s]
 50% 1/2 [00:03<00:03,  3.66s/it]
tokenizer.json:   0% 0.00/17.2M [00:00<?, ?B/s]
tokenizer.json:  93% 16.0M/17.2M [00:01<00:00, 10.8MB/s]
tokenizer.json: 32.0MB [00:02, 15.6MB/s]
100% 2/2 [00:06<00:00,  3.07s/it]
https://huggingface.co/mgfrantz/cmte-demo/tree/main/.